{% extends "layout.html" %}

{% block content %}

<h2>Edit Attendance</h2>

<form method="POST" class="card p-3">

    <label>Student Name</label>
    <input 
        type="text"
        name="student_name"
        class="form-control mb-2"
        value="{{ record.student_name }}"
        required
    >

    <label>Date</label>
    <input 
        type="date"
        name="date"
        class="form-control mb-2"
        value="{{ record.date }}"
        required
    >

    <label>Status</label>
    <select name="status" class="form-control mb-2">

        <option value="Present"
        {% if record.status == "Present" %}selected{% endif %}>
            Present
        </option>

        <option value="Absent"
        {% if record.status == "Absent" %}selected{% endif %}>
            Absent
        </option>

    </select>

    <button class="btn btn-primary">
        Update
    </button>

</form>

{% endblock %}