{% extends "layout.html" %}
{% block content %}

<h2>Edit Student</h2>

<form method="POST" class="card p-3">

<input name="name" value="{{ s.name }}" class="form-control mb-2">
<input name="course" value="{{ s.course }}" class="form-control mb-2">

<select name="status" class="form-control mb-2">
<option {% if s.status=="Active" %}selected{% endif %}>Active</option>
<option {% if s.status=="Inactive" %}selected{% endif %}>Inactive</option>
</select>

<button class="btn btn-primary">Update</button>

</form>

{% endblock %}