{% extends "base.html" %}


{% block content %}

<!-- HEADER -->
<div class="d-flex justify-content-between align-items-center mb-4 flex-wrap">


<div>
<h2 class="fw-bold text-primary">
💰Fees 
</h2>


<p class="text-muted mb-0">
Track student payments and pending fees
</p>
</div>


{% if session.get("role") == "admin" %}
<a href="/collect_fee" 
class="btn btn-success shadow">
<i class="bi bi-plus-circle-fill"></i>
Collect Fee
</a>
{% endif %}
</div>


<!-- SUMMARY CARDS -->

<div class="row g-3 mb-4">
<!-- TOTAL COLLECTION -->
<div class="col-md-4">
<div class="card shadow-lg border-0 text-center p-4 bg-success text-white">
<i class="bi bi-wallet2 fs-1"></i>
<h6 class="mt-3 fw-bold">
Total Collection
</h6>

<h3 class="fw-bold">
₹ {{ total_collection }}
</h3>
</div>
</div>


<!-- TOTAL STUDENTS -->
<div class="col-md-4">
<div class="card shadow-lg border-0 text-center p-4 bg-primary text-white">
<i class="bi bi-people-fill fs-1"></i>
<h6 class="mt-3 fw-bold">
Total Students
</h6>

<h3 class="fw-bold">
{{ total_students }}
</h3>
</div>
</div>


<!-- PENDING FEES -->
<div class="col-md-4">
<div class="card shadow-lg border-0 text-center p-4 bg-danger text-white">
<i class="bi bi-exclamation-triangle-fill fs-1"></i>
<h6 class="mt-3 fw-bold">
Pending Fees
</h6>

<h3 class="fw-bold">
₹ {{ pending_fee }}
</h3>
</div>
</div>
</div>

<!-- FEE TABLE -->
<div class="card shadow-lg border-0 p-3">
<div class="table-responsive">
<table class="table table-hover align-middle">
<thead class="table-dark">
<tr>
<th>
<i class="bi bi-hash"></i>
ID
</th>
<th>
    <i class="bi bi-receipt"></i>
    Receipt No
</th>


<th>
<i class="bi bi-person-vcard"></i>
Roll No
</th>

<th>
<i class="bi bi-person-fill"></i>
Student Name
</th>

<th>
<i class="bi bi-currency-rupee"></i>
Total Fee
</th>

<th>
<i class="bi bi-check-circle-fill"></i>
Paid
</th>

<th>
<i class="bi bi-exclamation-triangle-fill"></i>
Pending
</th>

<th>
<i class="bi bi-calendar-event"></i>
Date
</th>

<th>
<i class="bi bi-gear-fill"></i>
Action
</th>
</tr>
</thead>
<tbody>

{% for f in fees %}
<tr>
<td class="fw-bold">
{{ f.id }}
</td>


<td>
    <span class="badge bg-dark">
        {{ f.receipt_no }}
    </span>
</td>


<td>
<span class="badge bg-primary">
{{ f.roll_no }}
</span>
</td>

<td class="fw-semibold">
{{ f.name }}
</td>


<td>
₹ {{ f.total_fee }}
</td>

<td>
<span class="badge bg-success">
₹ {{ f.paid_fee }}
</span>
</td>


<td>
<span class="badge bg-danger">
₹ {{ f.total_fee - f.paid_fee }}
</span>
</td>

<td>
{{ f.date }}
</td>

<td>
<a href="/fee_receipt/{{ f.id }}"
class="btn btn-primary btn-sm shadow">
<i class="bi bi-receipt-cutoff"></i>
Receipt
</a>
<a href="/edit_fee/{{ f.id }}"
class="btn btn-warning btn-sm ">
    <i class="bi bi-pencil-square"></i>
</a> 
</td>
</tr>

{% endfor %}
</tbody>
</table>
</div>
</div>
{% endblock %}